.layout {
    height: 100%;

    &--homepage {
        .navigation {
            @include transition;
            @include position(fixed, 0px, auto, auto, 0px);
            z-index: $layer-header;
            height: 60px;

            &__lang {
                @include transition;
            }

            @include screen-min(xs) {
                width: calc(100% - 55px);
            }

            @include screen-min(sm) {
                width: calc(100% - 250px);
                height: 100px;
                padding: 0 50px;
                &__lang { padding-top: 2em; }
            }

            @include screen-min(md) {
                height: 140px;
                padding: 0 60px 0 130px;
                &__lang { padding-top: 3.5em; }
            }

            @include screen-min(lg) {
                width: 50%;
            }
        }

        .navigation--scroll {
            width: 100%;
            height: 60px;

            .navigation__lang {
                padding-top: 0.5em;
            }
        }
    }
}